<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send message to Abdul</h4>
      </div>
      <div class="modal-body">
        Talk to Abdul about games or jamming:
        <br />
        <textarea rows="10" style="width: 95%;">
Hey Abdul,
        
I see we've got some similar interests. Do you want to get together and play some games or jam?

Peace,
Jeff
        </textarea>
        
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->